html {
  font-size: 100%;
}

h1,
h2,
h3 {
  letter-spacing: 2px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

body {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-weight: bold;
  font-family: "Alata", sans-serif;
  text-transform: none;
}

a {
  text-transform: none;
}

button {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (min-width: 40em) {
  .grid {
    display: -ms-grid;
    display: grid;
  }
  .grid--col2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .grid--col4 {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

.btn {
  padding: 0.7rem 2.4rem;
  background-color: white;
  border: 2px solid #000;
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header {
  height: 100vh;
  padding: 2.7rem 2rem;
  background: url(/loopstudios-landing-page-main/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
}

@media (min-width: 40em) {
  header {
    background: url(/loopstudios-landing-page-main/images/desktop/image-hero.jpg);
  }
}

@media (min-width: 66em) {
  header {
    padding: 4rem 5rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 40em) {
  .nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.nav__close {
  display: none;
}

.nav__humburger {
  margin-top: 1rem;
}

.nav-container {
  margin-top: 0.7rem;
  cursor: pointer;
}

@media (min-width: 40em) {
  .nav-container {
    display: none;
  }
}

.nav__list {
  width: 100%;
  display: none;
}

@media (min-width: 40em) {
  .nav__list {
    margin-top: 0.4rem;
    max-height: 100vh;
    width: auto;
  }
  .nav__list li {
    display: inline;
    margin-left: 1rem;
  }
}

.nav__list a {
  color: white;
  font-weight: bold;
}

.collapse .nav__close {
  display: block;
}

.collapse .nav__hamburger {
  display: none;
}

.collapse.nav__list {
  display: block;
}

.interactive {
  margin-top: 4rem;
  text-align: center;
  padding: 1rem;
}

.interactive__img {
  height: 400px;
  zoom: 66%;
  margin-inline: 10px;
  background-image: url(/loopstudios-landing-page-main/images/mobile/image-interactive.jpg);
  background-repeat: no-repeat;
}

@media (min-width: 40em) {
  .interactive__img {
    background: url(/loopstudios-landing-page-main/images/desktop/image-interactive.jpg);
    background-repeat: no-repeat;
    height: 700px;
    zoom: 50%;
    position: relative;
    left: 2rem;
    z-index: -111;
  }
}

@media (min-width: 56em) {
  .interactive__img {
    zoom: 60%;
  }
}

@media (min-width: 66em) {
  .interactive__img {
    zoom: 80%;
  }
}

.interactive h1 {
  line-height: 1;
  margin-block: 3rem 1.5rem;
}

.interactive p {
  color: #8c8c8c;
}

.interactive p,
.interactive h1 {
  margin-inline: 2rem;
}

.interactive__content {
  background-color: white;
  margin-top: 4rem;
}

@media (min-width: 40em) {
  .interactive__content {
    text-align: left;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    position: relative;
    left: -20%;
  }
}

@media (min-width: 56em) {
  .interactive__content {
    -webkit-transform: scale(1);
            transform: scale(1);
    left: -10%;
  }
}

@media (min-width: 66em) {
  .interactive__content {
    left: -20%;
    top: 20%;
  }
}

@media (min-width: 66em) {
  .interactive {
    margin-inline: 3rem;
  }
}

.creation__imgOne {
  background: url(/loopstudios-landing-page-main/images/mobile/image-deep-earth.jpg) no-repeat;
}

@media (min-width: 40em) {
  .creation__imgOne {
    background: url(/loopstudios-landing-page-main/images/desktop/image-deep-earth.jpg) no-repeat;
  }
}

.creation__imgTwo {
  background: url(/loopstudios-landing-page-main/images/mobile/image-night-arcade.jpg) no-repeat;
}

@media (min-width: 40em) {
  .creation__imgTwo {
    background: url(/loopstudios-landing-page-main/images/desktop/image-night-arcade.jpg) no-repeat;
  }
}

.creation__imgThree {
  background: url(/loopstudios-landing-page-main/images/mobile/image-soccer-team.jpg) no-repeat;
}

@media (min-width: 40em) {
  .creation__imgThree {
    background: url(/loopstudios-landing-page-main/images/desktop/image-soccer-team.jpg) no-repeat;
  }
}

.creation__imgFour {
  background: url(/loopstudios-landing-page-main/images/mobile/image-grid.jpg) no-repeat;
}

@media (min-width: 40em) {
  .creation__imgFour {
    background: url(/loopstudios-landing-page-main/images/desktop/image-grid.jpg) no-repeat;
  }
}

.creation__imgFive {
  background: url(/loopstudios-landing-page-main/images/mobile/image-from-above.jpg) no-repeat;
}

@media (min-width: 40em) {
  .creation__imgFive {
    background: url(/loopstudios-landing-page-main/images/desktop/image-from-above.jpg) no-repeat;
  }
}

.creation__imgSix {
  background: url(/loopstudios-landing-page-main/images/mobile/image-pocket-borealis.jpg) no-repeat;
}

@media (min-width: 40em) {
  .creation__imgSix {
    background: url(/loopstudios-landing-page-main/images/desktop/image-pocket-borealis.jpg) no-repeat;
  }
}

.creation__imgSeven {
  background: url(/loopstudios-landing-page-main/images/mobile/image-curiosity.jpg) no-repeat;
}

@media (min-width: 40em) {
  .creation__imgSeven {
    background: url(/loopstudios-landing-page-main/images/desktop/image-curiosity.jpg) no-repeat;
  }
}

.creation__imgEight {
  background: url(/loopstudios-landing-page-main/images/mobile/image-fisheye.jpg) no-repeat;
}

@media (min-width: 40em) {
  .creation__imgEight {
    background: url(/loopstudios-landing-page-main/images/desktop/image-fisheye.jpg) no-repeat;
  }
}

.creation__img {
  height: 230px;
  zoom: 70%;
  margin: 1rem;
}

@media (min-width: 40em) {
  .creation__img {
    zoom: 100%;
    height: 450px;
    width: 90%;
  }
}

@media (min-width: 40em) and (min-width: 66em) {
  .creation__img {
    zoom: 110%;
  }
}

.creation__heading, .creation__btn {
  text-align: center;
  margin-block: 2rem 3rem;
}

.creation__heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/1/2;
}

@media (min-width: 40em) {
  .creation__heading {
    text-align: left;
    margin-left: 1rem;
  }
}

.creation__btn {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1/1/1/5;
}

@media (min-width: 40em) {
  .creation__btn {
    text-align: end;
  }
}

.creation__title {
  color: white;
  position: relative;
  bottom: -7rem;
  right: -2rem;
}

@media (min-width: 40em) {
  .creation__title {
    top: 20rem;
  }
}

@media (min-width: 66em) {
  .creation {
    margin-inline: 1rem;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=main.css.map */