@import "../partials/variabels";
@import "../partials/typography";
@import "../partials/generals";
@import "../partials/grid";
@import "../partials/btn";
@import "../partials/nav";
.interactive {
  margin-top: 4rem;
  &__img {
    height: 400px;
    zoom: 66%;
    margin-inline: 10px;
    background-image: url(/loopstudios-landing-page-main/images/mobile/image-interactive.jpg);
    background-repeat: no-repeat;
    // The main difference between transform scale and zoom is , zoom will modify the box sizing of the element being zoomed, while transform scale will not change original height and width of the element, while scaling only the displayed output

    @include tablette {
      background: url(/loopstudios-landing-page-main/images/desktop/image-interactive.jpg);
      background-repeat: no-repeat;
      height: 700px;
      zoom: 50%;
      position: relative;
      left: 2rem;
      z-index: -111;
    }
    @include desktop {
      zoom: 60%;
    }
    @include largeDesktop {
      zoom: 80%;
    }
  }

  @include centerText;
  padding: 1rem;
  h1 {
    line-height: 1;
    margin-block: 3rem 1.5rem;
  }
  p {
    color: $dark-gray;
  }
  p,
  h1 {
    margin-inline: 2rem;
  }
  &__content {
    background-color: white;
    margin-top: 4rem;
    // height: 300px;
    @include tablette {
      text-align: left;
      transform: scale(0.9);
      position: relative;
      left: -20%;
    }
    @include desktop {
      transform: scale(1);
      left: -10%;
    }
    @include largeDesktop {
      left: -20%;
      top: 20%;
    }
  }
  @include largeDesktop {
    margin-inline: 3rem;
  }
}
