@import "../partials/variabels";
@import "../partials/typography";
@import "../partials/generals";
@import "../partials/grid";
@import "../partials/btn";
@import "../partials/nav";
@import "../partials/interactive";
.creation {
  &__imgOne {
    background: url(/loopstudios-landing-page-main/images/mobile/image-deep-earth.jpg)
      no-repeat;
    @include tablette {
      background: url(/loopstudios-landing-page-main/images/desktop/image-deep-earth.jpg)
        no-repeat;
    }
  }
  &__imgTwo {
    background: url(/loopstudios-landing-page-main/images/mobile/image-night-arcade.jpg)
      no-repeat;
    @include tablette {
      background: url(/loopstudios-landing-page-main/images/desktop/image-night-arcade.jpg)
        no-repeat;
    }
  }
  &__imgThree {
    background: url(/loopstudios-landing-page-main/images/mobile/image-soccer-team.jpg)
      no-repeat;
    @include tablette {
      background: url(/loopstudios-landing-page-main/images/desktop/image-soccer-team.jpg)
        no-repeat;
    }
  }
  &__imgFour {
    background: url(/loopstudios-landing-page-main/images/mobile/image-grid.jpg)
      no-repeat;
    @include tablette {
      background: url(/loopstudios-landing-page-main/images/desktop/image-grid.jpg)
        no-repeat;
    }
  }
  &__imgFive {
    background: url(/loopstudios-landing-page-main/images/mobile/image-from-above.jpg)
      no-repeat;
    @include tablette {
      background: url(/loopstudios-landing-page-main/images/desktop/image-from-above.jpg)
        no-repeat;
    }
  }
  &__imgSix {
    background: url(/loopstudios-landing-page-main/images/mobile/image-pocket-borealis.jpg)
      no-repeat;
    @include tablette {
      background: url(/loopstudios-landing-page-main/images/desktop/image-pocket-borealis.jpg)
        no-repeat;
    }
  }
  &__imgSeven {
    background: url(/loopstudios-landing-page-main/images/mobile/image-curiosity.jpg)
      no-repeat;
    @include tablette {
      background: url(/loopstudios-landing-page-main/images/desktop/image-curiosity.jpg)
        no-repeat;
    }
  }
  &__imgEight {
    background: url(/loopstudios-landing-page-main/images/mobile/image-fisheye.jpg)
      no-repeat;
    @include tablette {
      background: url(/loopstudios-landing-page-main/images/desktop/image-fisheye.jpg)
        no-repeat;
    }
  }
  &__img {
    height: 230px;
    zoom: 70%;
    margin: 1rem;
    @include tablette {
      zoom: 100%;
      height: 450px;
      width: 90%;
      @include largeDesktop {
        zoom: 110%;
      }
    }
  }
  &__heading,
  &__btn {
    text-align: center;
    margin-block: 2rem 3rem;
  }
  &__heading {
    grid-area: 1/1/1/2;
    @include tablette {
      text-align: left;
      margin-left: 1rem;
    }
  }
  &__btn {
    grid-area: 1/1/1/5;
    @include tablette {
      text-align: end;
    }
  }
  &__title {
    color: white;
    position: relative;
    bottom: -7rem;
    right: -2rem;
    @include tablette {
      top: 20rem;
    }
  }
  @include largeDesktop {
    margin-inline: 1rem;
    transform: scale(0.8);
  }
}
