*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  transition: 0.2s;
}
