header {
  height: 100vh;
  padding: 2.7rem 2rem;
  background: url(/loopstudios-landing-page-main/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  @include tablette {
    background: url(/loopstudios-landing-page-main/images/desktop/image-hero.jpg)
      no-repeat;
  }
  @include largeDesktop {
    padding: 4rem 5rem;
  }
}
.nav {
  @include flex(space-between);
  flex-wrap: wrap;
  @include tablette {
    flex-wrap: nowrap;
  }
  &__close {
    display: none;
  }
  &__humburger {
    margin-top: 1rem;
  }
  &-container {
    margin-top: 0.7rem;
    cursor: pointer;
    @include tablette {
      display: none;
    }
  }
  &__list {
    width: 100%;
    display: none;

    @include tablette {
      margin-top: 0.4rem;
      max-height: 100vh;
      width: auto;
      display: block;
      li {
        display: inline;
        margin-left: 1rem;
      }
    }

    a {
      color: white;
      font-weight: bold;
    }
  }
}
.collapse.nav__hamburger {
  display: none;
}
.collapse.nav__close {
  display: block;
}
.collapse.nav__list {
  display: block;
  margin-top: 6rem;
  li {
    padding-block: 0.7rem;
  }
  a {
    text-transform: uppercase;
    font-weight: lighter;
  }
}
.collapse.header {
  background: black;
}
