$dark-gray: hsl(0, 0%, 55%);
$vary-darkGray: hsl(0, 0%, 41%);
$mobile: 40em;
$desktop-large: 90em;
@mixin tablette {
  @media (min-width: $mobile) {
    @content;
  }
}
@mixin largeDesktop {
  @media (min-width: $desktop-large) {
    @content;
  }
}
@mixin flex($justify-content) {
  display: flex;
  justify-content: $justify-content;
}
